<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Smart Garden</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Main CSS -->

    <link rel="stylesheet" href="/static/css/main.css">
    <!-- Bootstrap core CSS     -->

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Animation library for notifications   -->

    <link rel="stylesheet" href="/static/css/animate.min.css">
    <!--  Paper Dashboard core CSS    -->
    <link rel="stylesheet" href="/static/css/paper-dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/plants.css">
    <script src="/static/js/jquery.min.js"></script>
</head>

<body>

  <div class="wrapper">

        <div class="sidebar" data-background-color="black" data-active-color="success">

        <div class="sidebar-wrapper" style="background-color: #1abc9c;">
            <div class="logo">
            <a href="#" class="simple-text">SMART GARDEN</a>
            </div>

            <ul class="nav">
            <li class="active">
            <li>
                <a href="/templates/dashboard.html">
                <i class="fas fa-seedling"></i>
                <p>Dashboard</p>
                </a>
            </li>
            <li class="active">
            <li class="active">
            <li>
                <a href="">
                <i class="fas fa-camera"></i>
                <p>Identified</p>
                </a>
            </li>

            </ul>
        </div>
        </div>


        <div class="main-panel" >
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="#">Identified</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="logintest.html">
                    <i class="fas fa-user"></i>
                    <p id="nameuser"></p>
                    </a>
                </li>
                <li>
                    <a href="login.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Logout</p>
                    </a>
                </li>
                </ul>

            </div>
            </div>
        </nav>

        <div class="content">
            <div >
                <form class="c1">
                    <div class="c2">
                        <div style="margin-top: 50px;" class="image-preview" id="imagePreview">
                            <img src="" alt="" class="image-preview__image" id="uploadedImage">
                        </div>
                        <input style="display: none;" type="file" id="fileInput" class="input-file" accept="image/*" onchange="chooseFile(this)">
                        <label for="fileInput" class="label-for-file">Chọn Ảnh</label>
                        <button class="btn-confirm " type="button" id="button"><strong style="color: white;">Nhận diện</strong></button>
                    </div>
                  </form>
                  <p style="text-align: center;margin-top: 10px;" id="name"></p>
            </div>
            
            <div >
                <p id="temp">

                </p>
                <p id="water">

                </p>
                <p id="soil">
                    
                </p>
                <p id="light">
                    
                </p>
            </div>
        </div>
        
        <footer class="footer">
            <div class="container-fluid">
            <div class="copyright pull-right">
                IOT Project Group 15 |<span class="text-info"> PTIT</span>
            </div>
            </div>
        </footer>

        </div>

  </div>

</body>
<script>
    function chooseFile(fileInput) {
        if(fileInput.files && fileInput.files[0]){
            var reader = new FileReader();
            reader.onload = function(e){
                document.getElementById("uploadedImage").src = e.target.result;
                document.getElementById("uploadedImage").style.display = 'block';
            }
            reader.readAsDataURL(fileInput.files[0]);
            console.log("hello");
        }
    }
</script>

    <!--   Core JS Files   -->
    <script src="/static/js/bootstrap.min.js" ></script>
    <!--  Checkbox, Radio & Switch Plugins -->
    <script src="/static/js/bootstrap-checkbox-radio.js"></script>
    <!--  Charts Plugin -->
    <script src="/static/js/chartist.min.js"></script>
    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="/static/js/paper-dashboard.js"></script>
    <!--   Main JS File   -->
    <!-- <script src="/static/js/dashboard.js"></script> -->
    <script src="/static/js/identified.js"></script>
</html>